/* Google Font */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:linear-gradient(135deg,#2563eb,#60a5fa);

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}

/* Main Container */

.container{

    width:1050px;

    max-width:100%;

    display:flex;

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 20px 40px rgba(0,0,0,.25);

}

/* Left Panel */

.left-panel{

    width:40%;

    background:linear-gradient(180deg,#ea580c,#fb923c);

    color:white;

    padding:45px 35px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

}

.left-panel i{

    font-size:75px;

    margin-bottom:20px;

}

.left-panel h1{

    font-size:34px;

    margin-bottom:15px;

}

.left-panel p{

    line-height:1.8;

    margin-bottom:30px;

    color:#fff7ed;

}

/* Features Box */

.features{

    width:100%;

    background:rgba(255,255,255,.15);

    border-radius:12px;

    padding:20px;

}

.features p{

    margin:12px 0;

    font-size:16px;

}

/* Right Panel */

.right-panel{

    width:60%;

    padding:45px;

}

.right-panel h2{

    text-align:center;

    color:#1e3a8a;

    margin-bottom:30px;

    font-size:30px;

}

/* Input Fields */

.input-box{

    margin-bottom:22px;

}

label{

    display:block;

    margin-bottom:8px;

    font-weight:600;

    color:#334155;

}

input{

    width:100%;

    padding:14px;

    border:2px solid #dbeafe;

    border-radius:10px;

    font-size:15px;

    transition:.3s;

}

input:focus{

    outline:none;

    border-color:#2563eb;

    box-shadow:0 0 10px rgba(37,99,235,.25);

}

/* Button */

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

button i{

    margin-right:8px;

}

button:hover{

    background:#1d4ed8;

    transform:translateY(-2px);

    box-shadow:0 10px 20px rgba(37,99,235,.35);

}

/* Responsive */

@media(max-width:900px){

    .container{

        flex-direction:column;

    }

    .left-panel{

        width:100%;

        padding:35px;

    }

    .right-panel{

        width:100%;

        padding:35px;

    }

}

@media(max-width:600px){

    body{

        padding:20px;

    }

    .left-panel h1{

        font-size:28px;

    }

    .right-panel h2{

        font-size:24px;

    }

}